In [1]:
import pandas as pd

df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2023           32          6   Rain
1  1/2/2023           35          7  Sunny
2  1/3/2023           28          2   Snow
3  1/4/2023           24          7   Snow
4  1/5/2023           32          4   Rain
5  1/6/2023           32          2  Sunny

In [3]:
# Using Python Dictionary
weather_data = {
    'day': ['1/1/2023','1/2/2023','1/3/2023'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain','Sunny','Snow']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2023           32          6   Rain
1  1/2/2023           35          7  Sunny
2  1/3/2023           28          2   Snow

In [5]:
# Using Tuples List
weather_data = {
    ('1/1/2023', 32, 6, 'Rain'),
    ('1/2/2023', 35, 7, 'Sunny'),
    ('1/3/2023', 28, 1, 'Snow'),
}

df = pd.DataFrame(weather_data, columns=["day", "temperature", "windspeed", "event"])
df

        day  temperature  windspeed  event
0  1/1/2023           32          6   Rain
1  1/3/2023           28          1   Snow
2  1/2/2023           35          7  Sunny

In [7]:
# Using Dictionary List
weather_data = [
    {'day': '1/1/2023', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2023', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2023', 'temperature': 21, 'windspeed': 2, 'event': 'Snow'}
]

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2023           32          6   Rain
1  1/2/2023           35          7  Sunny
2  1/3/2023           21          2   Snow

For more tools , we can visit https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html