# Topics Covered In This Notebook

- Find Maximum Temperature In Each Of Cities
- Find Average Wind Speed Per City

In [1]:
import pandas as pd
df = pd.read_csv("weather_By_cities.csv")
df

         day      city  temperature  windspeed   event
0   1/1/2023  new york           32          6    Rain
1   1/2/2023  new york           36          7   Sunny
2   1/3/2023  new york           28         12    Snow
3   1/4/2023  new york           33          7   Sunny
4   1/1/2023     bursa           90          5   Sunny
5   1/2/2023     bursa           85         12     Fog
6   1/3/2023     bursa           87         15     Fog
7   1/4/2023     bursa           92          5    Rain
8   1/1/2023     paris           45         20   Sunny
9   1/2/2023     paris           50         13  Cloudy
10  1/3/2023     paris           54          8  Cloudy
11  1/4/2023     paris           42         10  Cloudy

In [2]:
g = df.groupby("city")
g

In [3]:
for city, city_df in g:
    print(city)
    print(city_df)

bursa
        day   city  temperature  windspeed  event
4  1/1/2023  bursa           90          5  Sunny
5  1/2/2023  bursa           85         12    Fog
6  1/3/2023  bursa           87         15    Fog
7  1/4/2023  bursa           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2023  new york           32          6   Rain
1  1/2/2023  new york           36          7  Sunny
2  1/3/2023  new york           28         12   Snow
3  1/4/2023  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2023  paris           45         20   Sunny
9   1/2/2023  paris           50         13  Cloudy
10  1/3/2023  paris           54          8  Cloudy
11  1/4/2023  paris           42         10  Cloudy