# Topics Covered In This Notebook

- Find Maximum Temperature In Each Of Cities
- Find Average Wind Speed Per City

In [1]:
import pandas as pd
df = pd.read_csv("weather_By_cities.csv")
df

         day      city  temperature  windspeed   event
0   1/1/2023  new york           32          6    Rain
1   1/2/2023  new york           36          7   Sunny
2   1/3/2023  new york           28         12    Snow
3   1/4/2023  new york           33          7   Sunny
4   1/1/2023     bursa           90          5   Sunny
5   1/2/2023     bursa           85         12     Fog
6   1/3/2023     bursa           87         15     Fog
7   1/4/2023     bursa           92          5    Rain
8   1/1/2023     paris           45         20   Sunny
9   1/2/2023     paris           50         13  Cloudy
10  1/3/2023     paris           54          8  Cloudy
11  1/4/2023     paris           42         10  Cloudy

In [2]:
g = df.groupby("city")
g

In [3]:
for city, city_df in g:
    print(city)
    print(city_df)

bursa
        day   city  temperature  windspeed  event
4  1/1/2023  bursa           90          5  Sunny
5  1/2/2023  bursa           85         12    Fog
6  1/3/2023  bursa           87         15    Fog
7  1/4/2023  bursa           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2023  new york           32          6   Rain
1  1/2/2023  new york           36          7  Sunny
2  1/3/2023  new york           28         12   Snow
3  1/4/2023  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2023  paris           45         20   Sunny
9   1/2/2023  paris           50         13  Cloudy
10  1/3/2023  paris           54          8  Cloudy
11  1/4/2023  paris           42         10  Cloudy

In [4]:
g.get_group('bursa')

        day   city  temperature  windspeed  event
4  1/1/2023  bursa           90          5  Sunny
5  1/2/2023  bursa           85         12    Fog
6  1/3/2023  bursa           87         15    Fog
7  1/4/2023  bursa           92          5   Rain

In [5]:
# Find Maximum Temperature In Each Of Cities
g.max()

               day  temperature  windspeed  event
city
bursa     1/4/2023           92         15  Sunny
new york  1/4/2023           36         12  Sunny
paris     1/4/2023           54         20  Sunny

In [ ]:
# Find Average Wind Speed Per City
g.mean()

In [8]:
g.describe()

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
bursa            4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
bursa          4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

In [19]:
g.count()

          day  temperature  windspeed  event
city
bursa       4            4          4      4
new york    4            4          4      4
paris       4            4          4      4