# Reading Writing Csv, Excel Files
## Topics :
- Read csv
- Write csv
- Read excel
- Write Excel

In [3]:
import pandas as pd
df = pd.read_excel("stock_data.xlsx", "stock_data")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [4]:
def convert_people_cell(cell):
    if cell=="n.a.":
        return "efekan alipasha"
    return cell
def convert_eps_cell(cell):
    if cell=="not available":
        return None
    return cell

df = pd.read_excel("stock_data.xlsx", "stock_data", converters = {
    'people' : convert_people_cell,
    'eps' : convert_eps_cell
})

df

  tickers    eps  revenue price           people
0   GOOGL  27.82       87   845       larry page
1     WMT   4.61      484    65  efekan alipasha
2    MSFT  -1.00       85    64       bill gates
3     RIL    NaN       50  1023    mukesh ambani
4    TATA   5.60       -1  n.a.       ratan tata

In [8]:
df.to_excel("newExcel.xlsx",sheet_name="stocks", startrow=1, startcol=2, index=False)

If you have let's say two dataframes and you want to write these two data frames to same excel files in different sheets , how do you do that ?

In [10]:
df_stocks = pd.DataFrame({
    'tickers' : ['GOOGL', 'WMT', 'MSFT'],
    'price' : [845, 65, 64],
    'pe' : [30.37, 14.26, 30.97],
    'eps' : [27.82, 4.61, 2.12]
})
df_weather = pd.DataFrame({
    'day' : ['1/1/2023', '1/2/2023', '1/3/2023'],
    'temperature' : [32,35,28],
    'event' : ['Rain', 'Sunny', 'Snow']
})

In [11]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")