# Reading Writing Csv, Excel Files
## Topics :
- Read csv
- Write csv
- Read excel
- Write Excel

In [3]:
import pandas as pd
df = pd.read_excel("stock_data.xlsx", "stock_data")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [4]:
def convert_people_cell(cell):
    if cell=="n.a.":
        return "efekan alipasha"
    return cell
def convert_eps_cell(cell):
    if cell=="not available":
        return None
    return cell

df = pd.read_excel("stock_data.xlsx", "stock_data", converters = {
    'people' : convert_people_cell,
    'eps' : convert_eps_cell
})

df

  tickers    eps  revenue price           people
0   GOOGL  27.82       87   845       larry page
1     WMT   4.61      484    65  efekan alipasha
2    MSFT  -1.00       85    64       bill gates
3     RIL    NaN       50  1023    mukesh ambani
4    TATA   5.60       -1  n.a.       ratan tata

In [5]:
df.to_excel("newExcel.xlsx",sheet_name="stocks")

AttributeError: module 'pandas' has no attribute 'to_excel'